.row{
    --bs-gutter-x: 1rem;
}

.col i{
    font-size: x-large;
    margin: 5px;
}

.col,.col a{
    width: 19%;
    text-align: center;
    color: #6a6a6a;

    text-decoration: none;
    p{
        font-size: small;
    }

    margin-bottom: 10px;
}


._footer{
    width: 105%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #a2a2a2;
    background-color: white;
}