{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
{% endblock %}

<footer class="row _footer">
     <div class="col"><a href="{% url "main:index" %}"><i class="fa-solid fa-house" style="color: #a2a2a2;"></i>
    <p>Главная</p></a></div>
    <div class="col"><a href="{% url "main:about" %}"><i class="fa-regular fa-chart-bar" style="color: #a2a2a2;"></i>
    <p>Каталог</p></a></div> 
    <div class="col"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: #a2a2a2;"></i>
    <p>Корзина</p></a></div>
    <div class="col"><a href="#"><i class="fa-regular fa-heart" style="color: #a2a2a2;"></i>
    <p>Избранное</p></a></div>
    <div class="col"><a href="#"><i class="fa-regular fa-user" style="color: #a2a2a2;"></i>
    <p>Профиль</p></a></div>
</footer>